body {
    height: 100vh;

    color: #333;
    background-color: #eee;

    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;

    color: inherit;
}

header {
    padding: 20px;

    color: #fff;
    background-color: #990000;
}

button, input {
    height: 40px;
}

form {
    max-width: 1200px;
    margin: 40px auto;

    text-align: center;
}

button {
    margin-left: 10px;
    padding: 10px;

    text-transform: uppercase;

    border: 1px solid #ccc;
    background-color: #fff;

    font-size: 0.9em;
}

input {
    width: 83%;
    padding: 0 15px;

    border-top: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-left: none;
    outline: none;
    background-color: #ddd;

    font-size: 1em;
}

input:focus {
    border-bottom: 1px solid #999;
}

h1 {
    text-align: center;

    font-size: 2em;
}

#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    flex: 0 1 30%;

    box-sizing: border-box;
    min-height: 400px;
    margin: 0px 15px;

    border: 1px solid #ccc;
    background-color: #FFF;
}

h3 {
    margin: 0 15px;
    padding: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #990000;
    border-bottom: 1px solid #ccc;

    font-size: 1.1em;
}

.counter {
    margin-left: 5px;
}

.item {
    margin: 15px;
    padding: 10px;

    cursor: grab;

    background-color: #ffec88;
}

#drag {
    cursor: grabbing;
}
